@model List<Post>


<div class="breadcrumbs">
    <div class="container">
        <h2>My Posts</h2>
    </div>
</div>

<section id="events" class="events">
    <div class="container">
        <div class="row">
            <div>


                <a class="btn btn-sm btn-success" asp-controller="Author" asp-action="PostCreate">Create Post</a>
                @if (Model.Count > 0)
                {
                    @if (ViewBag.IsDeleted)
                    {
                        <a class="btn btn-sm btn-danger" asp-controller="Author" asp-action="PostList" asp-route-isDeleted="false">Show Published Posts</a>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-danger" asp-controller="Author" asp-action="PostList" asp-route-isDeleted="true">Show Deleted Posts</a>
                    }
                }
                else
                {
                    <a class="btn btn-sm btn-danger" asp-controller="Author" asp-action="PostList" asp-route-isDeleted="false">Show Published Posts</a>
                    <a class="btn btn-sm btn-danger" asp-controller="Author" asp-action="PostList" asp-route-isDeleted="true">Show Deleted Posts</a>
                }




                <hr />
                @if (Model.Count > 0)
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th scope="col">Id</th>
                                <th scope="col">Title</th>
                                <th scope="col">Content</th>
                                <th scope="col">Photo</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var post in Model)
                            {
                                <tr>
                                    <td>@post.Id</td>
                                    <td>@post.Title </td>
                                    <td>@post.PostContent TL</td>
                                    <td>@post.HeroImageUrl</td>


                                    <td>
                                        @if (!post.IsDeleted)
                                        {
                                            <a asp-controller="Author" asp-action="PostEdit" asp-route-id=@post.Id class="btn btn-sm btn-warning">Edit</a>
                                            <!-- Button trigger DeleteModal -->
                                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal_@post.Id">
                                                Sil
                                            </button>

                                            <!-- DeleteModal -->
                                            <div class="modal fade" id="DeleteModal_@post.Id" tabindex="-1" aria-labelledby="DeleteModalLabel_@post.Id" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title fs-5" id="DeleteModalLabel_@post.Id">Warning!</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p class="text-danger">Post will be deleted!!</p>
                                                            <p>Are you sure?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                            <a asp-controller="Author" asp-action="PostDelete" asp-route-id=@post.Id class="btn btn-danger">yes</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <a asp-controller="Author" asp-action="PostDelete" asp-route-id=@post.Id class="btn btn-sm btn-warning">Publish!</a>

                                            <!-- Button trigger DeleteModal -->
                                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal_@post.Id">
                                                Delete Permanently
                                            </button>

                                            <!-- DeleteModal -->
                                            <div class="modal fade" id="DeleteModal_@post.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p class="text-danger">Post will be deleted!</p>
                                                            <p>Emin misin?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                            <a asp-controller="Author" asp-action="PostDeletePermanently" asp-route-id=@post.Id class="btn btn-danger">Yes</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                }
                else
                {

                    @await Html.PartialAsync("_NoPost")
                    ;
                }
            </div>
        </div>

    </div>
</section>
